---
- name: create node_targets directory
  file:
    path: "/var/prometheus_targets/node_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t

- name: create haproxy_targets directory
  file:
    path: "/var/prometheus_targets/haproxy_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t

- name: create bind_targets directory
  file:
    path: "/var/prometheus_targets/bind_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t

- name: create ssl_targets directory
  file:
    path: "/var/prometheus_targets/ssl_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t


- name: create federated_prometheus_targets directory
  file:
    path: "/var/prometheus_targets/federated_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t

- name: create openstack_targets directory
  file:
    path: "/var/prometheus_targets/openstack_targets"
    state: directory
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t

- name: template the node_targets
  template:
    src: node_target.yml.j2
    dest: "/var/prometheus_targets/node_targets/node_target_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['prometheus_target'] }}"
  when: "'prometheus_target' in groups"

- name: template the haproxy_targets
  template:
    src: haproxy_target.yml.j2
    dest: "/var/prometheus_targets/haproxy_targets/haproxy_target_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['prometheus_target_haproxy'] }}"
  when: "'prometheus_target_haproxy' in groups"

- name: template the bind_targets
  template:
    src: bind_target.yml.j2
    dest: "/var/prometheus_targets/bind_targets/bind_target_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['prometheus_target_bind'] }}"
  when: "'prometheus_target_bind' in groups"

- name: template the ssl_targets
  template:
    src: ssl_target.yml.j2
    dest: "/var/prometheus_targets/ssl_targets/ssl_target_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['prometheus_target_ssl'] }}"
  when: "'prometheus_target_ssl' in groups"

- name: template the federated_targets
  template:
    src: prometheus_target.yml.j2
    dest: "/var/prometheus_targets/federated_targets/federated_prometheus_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['prometheus_target_prometheus'] }}"
  when: "'prometheus_target_prometheus' in groups"

- name: template the federated_targets
  template:
    src: openstack_target.yml.j2
    dest: "/var/prometheus_targets/openstack_targets/openstack_{{ item }}.yml"
    mode: '0775'
    group: monitoring-editors
    seuser: system_u
    setype: container_file_t
  loop: "{{ groups['openstack_env'] }}"
  when: "'openstack_env' in groups"

