---

- name: Ensure that the monitoring config directory exists
  file:
    path: "{{ config_dir }}"
    state: directory


- name: template the first_rules.yml file
  template:
    src: first_rules.yml.j2
    dest: "{{ config_dir }}/rules/first_rules.yml"
    mode: 0775
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    seuser: system_u
    setype: container_file_t


- name: copy custom rules
  copy: 
    src: "{{ item }}"
    dest: "{{ config_dir }}/rules/"
    mode: 0775
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    seuser: system_u
    setype: container_file_t
  when: rules_files is defined
  loop: "{{ rules_files }}"

- name: reload prometheus config
  uri:
    url: "http://localhost:9090/-/reload"
    method: POST
