global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
alerting:
 alertmanagers:
   - static_configs:
     - targets:
       # Alertmanager's default port is 9093
       - "{{ ansible_host }}:9093"

rule_files:
  - "first_rules.yml"
{% if custom_rules_file is defined  %}
  - "custom_rules.yml"
{% endif %}

scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    scrape_interval: 5s
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/node_targets/*.yml

   


{% if (groups['monitoring-hosts'] |length ) > 1 %}
  - job_name: 'federate-sanity-check'
    scrape_interval: 15s

    metrics_path: '/federate'

    params:
      'match[]':
        - '{job=~"prometheus"}'

    static_configs:
{% for host in groups['monitoring-hosts'] %}
{% if hostvars[host].ansible_host != ansible_host %}
      - targets: ['{{hostvars[host].ansible_host}}:9090']
{% endif %}
{% endfor %}
{% endif %}

  - job_name: 'federated_prometheus'
    scrape_interval: 5s
    scheme: 'https'
    params:
      'match[]':
        - '{job=~"prometheus"}'
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/federated_targets/*.yml


  - job_name: 'haproxy_exporter'
    scrape_interval: 5s
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/haproxy_targets/*.yml

  - job_name: 'bind_exporter'
    scrape_interval: 5s
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/bind_targets/*.yml

  - job_name: 'ssl'
    metrics_path: /probe
    scrape_interval: 5s
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/ssl_targets/*.yml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: 127.0.0.1:{{ ssl_exporter_port }}

{% if (groups['openstack_env']|length) > 0 %}
{% for host in groups['openstack_env'] %}
  - job_name: 'openstack'
    metrics_path: /metrics
    scrape_timeout: 20s
    scrape_interval: 60s
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/openstack_targets/*.yml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: '127.0.0.1:{{ hostvars[host].openstack_exporter_port }}'
{% endfor %}
{% endif %}
