global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'codelab-monitor-{{hostvars[inventory_hostname].ansible_ssh_host}}'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
alerting:
 alertmanagers:
   - static_configs:
     - targets:
       # Alertmanager's default port is 9093
       - "{{ ansible_host }}:9093"

rule_files:
  - "first_rules.yml"

scrape_configs:
{% if (groups['prometheus_master'] |length ) > 1 %}
  - job_name: 'federate-sanity-check'
    scrape_interval: 15s

    honor_labels: true
    metrics_path: '/federate'

    params:
      'match[]':
        - '{job=~"prometheus"}'

    static_configs:
{% for host in groups['prometheus_master'] %}
{% if hostvars[host].ansible_host != ansible_host %}
      - targets: ['{{hostvars[host].ansible_host}}:9090']
{% endif %}   
{% endfor %}
{% endif %}
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      {% for host in target_nodes %}
      - targets: ['{{ hostvars[host].ansible_ssh_host }}:9100']
              labels:
                host: '{{ host }}'
                job: 'node'
      {% endfor %}
