{
  "name":"{{ item }}",
  "type":"prometheus",
  "url":"{{ hostvars[item].datasource_url }}",
  "access":"proxy",
  "basicAuth":false,
  "jsonData": {
    "httpHeaderName1":"Authorization"
  },
  "securejsonData": {
    "httpHeaderValue1":"Bearer {{ hostvars[item].bearer_token }}"
  }
}
