- targets:
{% for host in hostvars[item].ilo_hosts %}
  - {{ host }}
{% endfor %}
  labels:
    "__param_ilo_port": "{{ hostvars[item].ilo_port }}"
    "__param_ilo_user": "{{ hostvars[item].ilo_user }}"
    "__param_ilo_password": "{{ hostvars[item].ilo_password }}"