---

- name: Ensure that the monitoring config directory exists
  file:
    path: "{{ monitoring_config_dir }}"
    state: directory

- name: Run the prometheus.yml template
  template:
    src: prometheus.yml.j2
    dest: "{{ monitoring_config_dir }}/prometheus.yml"
    mode: 0765
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: create rules directory
  file:
    path: "{{ monitoring_config_dir }}/rules"
    state: directory
    mode: 0765
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: copy first rules
  copy: 
    src: "first_rules.yml"
    dest: "{{ monitoring_config_dir }}/rules/first_rules.yml"
    mode: 0765
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Enable firewalld
  service:
    name: firewalld
    enabled: yes
    state: started

- name: Open Firewall for Prometheus
  firewalld:
    port: "{{item}}"
    permanent: yes
    state: enabled
    immediate: yes
  with_items:
    - 9090/tcp

- name: Run Prometheus Docker container
  docker_container:
    name: prometheus
    image: "{{ prometheus_image }}:{{ prometheus_image_version }}"
    restart_policy: unless-stopped
    network_mode: host
    published_ports:
    - "{{ external_prometheus_port }}:{{ prometheus_port }}"
    volumes:
    - "{{ monitoring_config_dir }}/rules/:/etc/prometheus/rules/:Z"            
    - "{{ monitoring_config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:Z"
    - "/var/prometheus_targets/:/etc/prometheus/targets/:Z"
    state: "{{ provision_state }}"
    command: |
      --web.enable-lifecycle 
      --config.file=/etc/prometheus/prometheus.yml
      --storage.tsdb.path=/prometheus
      --web.console.libraries=/usr/share/prometheus/console_libraries 
      --web.console.templates=/usr/share/prometheus/consoles
    restart: yes
